*.*~
*~
*.bak
*.bkp
*.lps
*.res
*.o
*.ppu
*.or
*.dbg
*.compiled
*.acn
*.acr
*.alg
*.glg
*.gls
*.ist
*.log
*.aux
*.dvi
*.lof
*.lot
*.bit
*.idx
*.glo
*.bbl
*.bcf
*.ilg
*.toc
*.ind
*.out
*.blg
*.fdb_latexmk
*.fls
*.run.xml
*.synctex.gz
lib
units
docs
backup
!.gitignore
